@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  padding: 0;
  margin: 0;
}

img {
  pointer-events: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:visited, a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.04%, rgba(245, 245, 245, 0)), to(#F5F5F5));
  background: -webkit-linear-gradient(top, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
  background: -o-linear-gradient(top, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.04%, rgba(245, 245, 245, 0)), to(#F5F5F5));
  background: -webkit-linear-gradient(top, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
  background: -o-linear-gradient(top, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

button:focus, input:focus {
  outline: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.section {
  padding-bottom: 70px;
}

.section__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
}

@media screen and (max-width: 576px) {
  .section__heading {
    margin-bottom: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section__title {
  font-size: 36px;
  line-height: 42px;
}

@media screen and (max-width: 576px) {
  .section__title {
    font-size: 30px;
    line-height: normal;
    margin-bottom: 10px;
  }
}

.section__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 374px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.card__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.card__text {
  padding: 21px 21px 34px 21px;
}

.card__title {
  font-size: 24px;
  line-height: 32px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__tag {
  padding: 3px 8px;
  background: #262626;
  color: #ffffff;
  font-size: 14px;
  border-radius: 2px;
  line-height: 20px;
  white-space: nowrap;
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .card {
    max-width: none;
  }
}

@media screen and (max-width: 992px) {
  .card__img {
    max-height: 200px;
  }
  .card__heading {
    margin-bottom: 5px;
  }
  .card__text {
    padding: 18px;
  }
}

@media screen and (max-width: 768px) {
  .card__img {
    height: 20vh;
    min-height: 90px;
  }
}

@media screen and (max-width: 576px) {
  .card__title {
    font-size: 22px;
    line-height: normal;
  }
  .card__tag {
    font-size: 12px;
  }
}

@media screen and (max-width: 475px) {
  .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .card__text {
    padding: 20px 14px;
  }
}

.restaurant-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restaurant-info__rating {
  margin-right: 15px;
  color: #FFC107;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
}

.restaurant-info__cost, .restaurant-info__category {
  font-size: 16px;
  line-height: 32px;
  color: #8C8C8C;
  display: inline-block;
}

.restaurant-info__category {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.restaurant-info__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-info__cost::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5px;
  height: 5px;
  background: #8C8C8C;
  margin: 0 8px;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .restaurant-info {
    white-space: nowrap;
  }
}

@media screen and (max-width: 576px) {
  .restaurant-info__cost, .restaurant-info__category {
    font-size: 12px;
    line-height: normal;
  }
  .restaurant-info__rating {
    font-size: 12px;
    line-height: normal;
  }
  .restaurant-info__star {
    width: 10px;
    height: 10px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.button {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: #595959;
  border: 1px solid #D9D9D9;
  background: none;
}

.button__icon {
  margin-right: 4px;
}

.button_primary {
  background: #1890FF;
  border-color: #1890FF;
  color: #fff;
}

.button_burger {
  display: none;
  margin-left: 10px;
  padding: 10px;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button_burger .button__icon {
  margin: 0;
  width: 26px;
}

@media screen and (max-width: 475px) {
  .button_burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.input {
  padding: 8px 35px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}

.input_address {
  background: url("../../img/home.svg") no-repeat left 10px center;
  width: 690px;
}

@media screen and (max-width: 576px) {
  .input_address {
    background-image: none;
    padding: 10px;
    width: 100%;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
  }
}

@media screen and (max-width: 475px) {
  .input_address {
    display: none;
  }
}

.input_search {
  background: url("../../img/search-icon.svg") no-repeat left 10px center;
}

@media screen and (max-width: 576px) {
  .input_search {
    width: 100%;
  }
}

.input::-webkit-input-placeholder {
  color: #a3a3a3;
}

.input:-ms-input-placeholder {
  color: #a3a3a3;
}

.input::-ms-input-placeholder {
  color: #a3a3a3;
}

.input::placeholder {
  color: #a3a3a3;
}

.input:focus::-webkit-input-placeholder {
  color: transparent;
}

.input:focus:-ms-input-placeholder {
  color: transparent;
}

.input:focus::-ms-input-placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: transparent;
}

.header {
  padding: 44px 0px 21px 0px;
  margin-bottom: 20px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 475px) {
  .header__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 475px) {
  .header__logo {
    margin-right: 10px;
    padding: 15px;
  }
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 475px) {
  .header__buttons {
    display: none;
  }
}

.header__button {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .header__button .button__text {
    display: none;
  }
  .header__button .button__icon {
    margin-right: 0;
  }
}

@media screen and (max-width: 475px) {
  .header {
    padding: 10px 0px;
  }
}

.section_restaurant .section__title {
  margin-right: 30px;
}

.dish-card__text {
  padding: 21px 21px 34px 21px;
}

.dish-card__title {
  font-weight: 400;
}

.dish-card__ingredients {
  font-size: 16px;
  line-height: 21px;
  color: #8C8C8C;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin: 5px 0px 24px 0px;
}

.dish-card__order-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dish-card__order-btn {
  margin-right: 32px;
}

.dish-card__order-btn .button__icon {
  margin: 0px 0px 0px 4px;
}

.dish-card__cost {
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .dish-card__ingredients {
    font-size: 14px;
  }
  .dish-card__cost {
    font-size: 16px;
  }
  .dish-card__order-btn {
    padding: 6px 12px;
    font-size: 16px;
  }
}

.footer {
  background: #fff;
  padding: 60px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  margin-right: 40px;
}

.footer__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 0px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__block {
    margin-bottom: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin: 0px 0px 10px 0px;
  }
}

@media screen and (max-width: 576px) {
  .footer__inner {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .footer__block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__icon {
  margin-right: 21px;
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.social__icon_instagram {
  background-image: url("../../img/social-icons/instagram.svg");
}

.social__icon_facebook {
  background-image: url("../../img/social-icons/facebook.svg");
}

.social__icon_vk {
  background-image: url("../../img/social-icons/vk.svg");
  width: 40px;
  margin-right: 0;
}

@media screen and (max-width: 576px) {
  .social {
    margin-top: 10px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 15px;
}

.menu__link {
  font-size: 16px;
  line-height: 21px;
  color: #595959;
  padding: 20px 0px;
  display: inline-block;
}

.menu__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .menu__link {
    padding: 10px 8px;
  }
}

@media screen and (max-width: 576px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    font-size: 14px;
    white-space: nowrap;
    padding: 5px 12px 5px 0px;
  }
}
