body {
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
}

img {
  pointer-events: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:visited, a {
  text-decoration: none;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/ProximaNova-Light.eot");
  src: url("/fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/ProximaNova-Light.woff") format("woff"), url("/fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/ProximaNova-LightIt.eot");
  src: url("/fonts/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype"), url("/fonts/ProximaNova-LightIt.woff") format("woff"), url("/fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/ProximaNova-Regular.eot");
  src: url("/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/ProximaNova-Regular.woff") format("woff"), url("/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/ProximaNova-Semibold.eot");
  src: url("/fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/ProximaNova-Semibold.woff") format("woff"), url("/fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/ProximaNova-Bold.eot");
  src: url("/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/ProximaNova-Bold.woff") format("woff"), url("/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  overflow-x: hidden;
}

body.locked {
  overflow-y: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 860px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0;
  }
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-left: 1px solid #ede6f8;
  border-right: 1px solid #ede6f8;
  margin-right: 30px;
}

.burger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 31px 24px;
  border: none;
  background-color: transparent;
  cursor: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger-button:focus {
  outline: none !important;
}

.burger-line {
  height: 3px;
  width: 24px;
  background: #5986e3;
  margin-bottom: 5px;
  border-radius: 1px;
}

.burger-line:last-child {
  margin-bottom: 0;
}

.burger_active .burger-line {
  background: #a7bff0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
}

.logo-text {
  text-transform: uppercase;
  color: #262626;
  font-size: 18px;
  margin-bottom: 1px;
  line-height: 1.3;
}

.logo-smalltext {
  font-size: 14px;
  color: #6b6b6b;
}

.button[type="submit"] {
  font-weight: 600;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  font-size: 14px;
  font-weight: 500;
}

.button:focus {
  outline: none;
}

.button-o {
  padding: 15px 20px;
  border: 2px solid #507fe1;
  color: #507fe1;
  text-transform: uppercase;
}

.button-o:hover {
  color: #ffffff;
  background: #507fe1;
}

.button-primary {
  padding: 20px 35px;
  background: #507fe1;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #507fe1;
}

.button-primary:active {
  background: #416ac0;
  border: 2px solid #416ac0;
}

.form {
  padding: 70px;
  -webkit-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}

.form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("/img/form-main.png") no-repeat center right -20px/contain;
  background-color: #ffffff;
}

.form-main .form__row_2 {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.form-main__checkbox {
  margin-right: 30px;
}

@media screen and (max-width: 992px) {
  .form-main {
    background-image: none;
  }
}

@media screen and (max-width: 800px) {
  .form-main {
    padding: 50px;
    background-position: center right -300px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .form-main .form__label {
    font-size: 16px;
  }
  .form-main .form__input, .form-main .form-select {
    height: 50px;
  }
  .form-main .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
  }
  .form-main .form__row .form__group {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  .form-main .form__row_2 {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form-main .form__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .form-main {
    padding: 40px 15px 25px 15px;
  }
  .form-main .form__title {
    margin-bottom: 10px;
    font-size: 26px;
  }
  .form-main .form__subtitle {
    font-size: 16px;
  }
}

.form__title {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 600;
}

.form__subtitle {
  font-size: 20px;
  margin-bottom: 40px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  font-size: 17px;
  margin-bottom: 10px;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
}

.form__input, .form-select {
  height: 65px;
  padding: 0 15px;
  font-size: 16px;
  font-family: inherit;
}

.form__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__input:focus::-moz-placeholder {
  color: transparent;
}

.form__input:focus:-moz-placeholder {
  color: transparent;
}

.form__input:focus:-ms-input-placeholder {
  color: transparent;
}

.form-select {
  border: 1px solid #dddddd;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: url("/img/select-arrow.png") no-repeat center right 20px;
  background-color: #ffffff;
}

.form-select:focus {
  outline: none;
}

.form__input {
  border: 1px solid #dddddd;
}

.form__input:focus {
  outline: none;
}

.form__submit {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.checkbox {
  font-size: 16px;
}

.checkbox__checkbox {
  display: none;
}

.checkbox__checkbox:checked ~ .checkbox__text::after {
  background: url("/img/checkbox-tick.png") no-repeat center/contain;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox__text::before {
  width: 20px;
  height: 20px;
  content: "";
  background: transparent;
  border: 1px solid #dddddd;
  display: inline-block;
  margin-right: 10px;
}

.checkbox__text::after {
  position: absolute;
  width: 18px;
  height: 18px;
  content: "";
  top: 2px;
  left: 2px;
}

.section__title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.header {
  background: #ffffff;
  position: relative;
  z-index: 100;
  border-bottom: 2px solid #f3f3f3;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header_fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header_fixed .header__body {
  min-height: 65px;
  overflow: hidden;
}

.header_fixed .header-nav {
  -webkit-transform: translateY(65px);
      -ms-transform: translateY(65px);
          transform: translateY(65px);
  max-height: 40px;
}

.header_fixed .header__burger {
  -ms-flex-item-align: normal;
      -ms-grid-row-align: normal;
      align-self: normal;
  padding: 0 24px;
}

.header_fixed .header__burger .burger-button {
  padding: 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 82px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 40px;
}

.header-contacts__phone {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 500;
}

.header-contacts__schedule, .header-contacts__email {
  font-size: 14px;
  color: #7b7b79;
}

.header-contacts__email {
  border-bottom: 1px dashed gray;
  color: #7b7b79;
}

.header-nav {
  position: absolute;
  top: 0;
  opacity: 1;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  width: 100%;
  background: #5986e3;
  max-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.15s, -webkit-transform 0.2s;
  transition: opacity 0.15s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, opacity 0.15s;
  transition: transform 0.2s, opacity 0.15s;
  transition: transform 0.2s, opacity 0.15s, -webkit-transform 0.2s;
  -webkit-transform: translateY(82px);
      -ms-transform: translateY(82px);
          transform: translateY(82px);
  z-index: 5;
}

.header-nav__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-nav_hidden {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
  visibility: hidden;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 104px;
  padding-right: 15px;
}

.header-menu__link {
  display: inline-block;
  padding: 18px 0;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 300;
}

@media screen and (max-width: 992px) {
  .header-menu {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 850px) {
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-nav {
    max-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 104px;
    max-height: none;
  }
}

@media screen and (max-width: 768px) {
  .header-contacts {
    display: none;
  }
  .header__body {
    min-height: 70px;
  }
  .header__burger {
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
  }
  .header__burger .burger-button {
    padding: 0 20px;
  }
  .header-nav {
    -webkit-transform: translateY(70px);
        -ms-transform: translateY(70px);
            transform: translateY(70px);
    padding-left: 94px;
  }
  .header-menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (max-width: 576px) {
  .header__body {
    padding-right: 10px;
  }
  .header__burger {
    margin-right: 15px;
  }
  .header__button {
    padding: 12px 15px;
    font-size: 12px;
  }
  .header__logo .logo-text {
    font-size: 16px;
  }
  .header__logo .logo-smalltext {
    font-size: 14px;
  }
  .header-nav {
    padding-left: 0;
  }
  .header-menu__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    display: none;
  }
  .header__button {
    white-space: nowrap;
    margin-left: 20px;
  }
}

@media screen and (max-width: 375px) {
  .header__logo {
    display: none;
  }
}

.hero {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hero__body {
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
  background: url("/img/okna.png") no-repeat center right -200px/cover;
}

.hero__title {
  font-size: 30px;
  margin-bottom: 45px;
  color: #252525;
  font-weight: 600;
}

.hero__subtitle {
  font-size: 30px;
  margin-bottom: 70px;
  display: inline-block;
  color: #121212;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  .hero__body {
    padding-top: 100px;
    background-position: center right 110%;
  }
}

@media screen and (max-width: 576px) {
  .hero__body {
    min-height: 450px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
    background-position: bottom right -220px;
  }
  .hero__title {
    display: inline;
    background: #f9f9f9;
    font-weight: 500;
  }
  .hero__subtitle {
    font-size: 24px;
    margin-top: 15px;
    display: block;
  }
  .hero__button {
    padding: 15px 25px;
    font-size: 12px;
  }
}

@media screen and (max-width: 475px) {
  .hero__body {
    min-height: 350px;
    padding: 0 15px;
  }
  .hero__subtitle {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 425px) {
  .hero__title {
    margin-bottom: 15px;
  }
}

.offer {
  background: #fff;
  margin-bottom: 60px;
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 576px) {
  .offer__body {
    padding: 15px 0;
  }
}

.section-stages {
  background: #f6f7f9;
  padding: 60px 0px;
}

.section-stages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-stages .section__title {
  margin-bottom: 60px;
}

@media screen and (max-width: 1100px) {
  .section-stages__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .section-stages__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.stage {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 170px;
  z-index: 2;
  position: relative;
}

.stage::after {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 0;
  width: 30px;
  z-index: 0;
  height: 2px;
  background: #bab9b8;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.stage:last-child::after {
  display: none;
}

.stage__title {
  font-size: 18px;
}

.stage__description {
  font-size: 14px;
}

.stage__img {
  max-width: 60px;
}

.stage__icon {
  max-width: 100%;
}

@media screen and (max-width: 1100px) {
  .stage {
    width: 28%;
    max-width: none;
  }
  .stage::after {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .stage {
    width: 100%;
    margin-bottom: 15px;
    max-width: 200px;
  }
  .stage:last-child {
    margin-bottom: 0;
  }
}
