@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

input:focus {
  outline: none;
}

body {
  font-family: Roboto, sans-serif;
  background: #f7f7f7;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: none;
  }
}

.logo {
  font-size: 48px;
  color: black;
  font-family: Consolas, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.input {
  padding: 0 18px;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  color: #000;
  border: none;
  height: 48px;
  -webkit-transition: 0.14s;
  -o-transition: 0.14s;
  transition: 0.14s;
}

.input:focus {
  -webkit-box-shadow: 0px 0px 10px #e7e7e7;
          box-shadow: 0px 0px 10px #e7e7e7;
}

.input:focus::-webkit-input-placeholder {
  opacity: 0;
  visibility: hidden;
}

.input:focus:-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
}

.input:focus::-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
}

.input:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}

.input::-webkit-input-placeholder {
  color: #9e9e9e;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.input:-ms-input-placeholder {
  color: #9e9e9e;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.input::-ms-input-placeholder {
  color: #9e9e9e;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.input::placeholder {
  color: #9e9e9e;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.input-search {
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: center right 18px;
  background-size: 17px 17px;
  padding-right: 54px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  min-width: 371px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.cart__orders {
  position: absolute;
  background: #ffbb00;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  display: none;
}

.cart i {
  font-size: 26px;
  color: #4d4d4d;
  margin-right: 15px;
}

.cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-info__orders, .cart-info__cost {
  color: #cccccc;
}

.cart-info__orders span, .cart-info__cost span {
  color: #171717;
  font-weight: 500;
}

@media screen and (max-width: 1060px) {
  .cart {
    padding: 10px;
  }
  .cart i {
    margin-right: 0;
  }
  .cart-info {
    display: none;
  }
}

@media screen and (max-width: 1060px) {
  .cart__orders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .cart i {
    font-size: 22px;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slider-slide {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.slider-slide:focus {
  outline: none;
}

.slider-main {
  width: 68%;
  position: relative;
}

.slider-main .slick-list {
  margin: 0 -10px;
}

.slider-main .slider-slide {
  border-radius: 5px;
  padding: 40px;
  overflow: hidden;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 10px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.slider-main .slider-slide__block {
  margin-bottom: 45px;
}

.slider-main .slider-slide__title {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.slider-main .slider-slide__subtitle {
  font-size: 14px;
  color: #f2dd79;
  text-transform: uppercase;
  margin-bottom: 40px;
  display: inline-block;
}

.slider-main .slider-slide__description {
  color: #808080;
}

.slider-main .slider-slide_1 {
  background: url("/img/slider-main/slide1-bg.jpg") no-repeat center/cover;
}

.slider-main .slider-slide_2 {
  background: url("/img/slider-main/slide1-bg.jpg") no-repeat center/cover;
}

.slider-main .slider-slide_3 {
  background: url("/img/slider-main/slide1-bg.jpg") no-repeat center/cover;
}

.slider-main .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-left: -10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-main .slick-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  cursor: pointer;
}

.slider-main .slick-dots li button {
  font-size: 0;
  border: none;
  outline: none;
  padding: 0;
  width: 11px;
  height: 11px;
  background: #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
}

.slider-main .slick-dots li.slick-active button {
  background: #525252;
}

@media screen and (max-width: 850px) {
  .slider-main {
    width: 100%;
  }
  .slider-main .slider-slide {
    min-height: 250px;
  }
}

@media screen and (max-width: 576px) {
  .slider-main .slider-slide {
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-main .slider-slide__block {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 425px) {
  .slider-main .slider-slide {
    min-height: 200px;
  }
  .slider-main .slider-slide__title {
    font-size: 24px;
  }
  .slider-main .slider-slide__subtitle {
    font-size: 12px;
  }
  .slider-main .slider-slide__description {
    font-size: 12px;
  }
}

.slider-sync {
  width: 30%;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 20px #e7e7e7;
          box-shadow: 0px 0px 20px #e7e7e7;
  border-radius: 5px;
}

.slider-sync .slick-track {
  height: 100%;
}

.slider-sync .slider-slide {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: red;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #fff;
  padding: 20px;
  position: relative;
}

.slider-sync .slider-slide-card__preview {
  display: inline-block;
  margin-bottom: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-sync .slider-slide-card__title {
  text-transform: uppercase;
  font-weight: 800;
}

.slider-sync .slider-slide-card__subtitle {
  font-size: 14px;
  margin-bottom: 30px;
  display: inline-block;
}

.slider-sync .slider-slide-card__cost {
  font-size: 18px;
  color: #b2b2b2;
}

.slider-sync .slider-slide-card__cost_red {
  color: #ff0000;
}

.slider-sync .slider-slide-card::before {
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  top: 26px;
  right: 26px;
  background: url("/img/slider-sync/star.png") no-repeat center/cover;
}

@media screen and (max-width: 850px) {
  .slider-sync {
    display: none;
  }
}

.slider-nav {
  overflow: hidden;
  position: relative;
  padding: 0 50px;
}

.slider-nav .slick-list {
  overflow: hidden;
  margin: 0 -40px;
  padding: 0 20px;
}

.slider-nav .slick-arrow {
  border: none;
  background-color: transparent;
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  width: 40px;
  height: 100%;
  font-size: 0;
  cursor: pointer;
  z-index: 1000;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-nav .slick-arrow:focus {
  outline: none;
}

.slider-nav .slick-prev {
  background-image: url("/img/slider-nav/arrow-left.png");
  left: 0;
}

.slider-nav .slick-next {
  background-image: url("/img/slider-nav/arrow-right.png");
  right: 0;
}

.slider-nav .slider-slide {
  margin: 20px;
  padding: 0 20px;
  background: red;
  border-radius: 5px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-nav .slider-slide__title {
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 500;
}

.slider-nav .slider-slide_1 {
  background: url("/img/slider-nav/slide1.png") no-repeat center/cover;
}

.slider-nav .slider-slide_2 {
  background: url("/img/slider-nav/slide2.png") no-repeat center/cover;
}

.slider-nav .slider-slide_3 {
  background: url("/img/slider-nav/slide3.png") no-repeat center/cover;
}

.slider-nav .slider-slide_4 {
  background: url("/img/slider-nav/slide4.png") no-repeat center/cover;
}

@media screen and (max-width: 768px) {
  .slider-nav {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .slider-nav .slider-slide {
    min-width: 140px;
    margin: 10px;
    min-height: 65px;
  }
  .slider-nav .slider-slide__title {
    font-size: 12px;
  }
  .slider-nav .slick-list {
    margin: 0 -10px;
  }
}

.header {
  padding-top: 50px;
  margin-bottom: 50px;
}

.header__logo {
  margin-right: 50px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: 20px;
}

.header__btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 23px 10px 23px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__btn:last-child {
  margin-right: 0;
}

.header__btn:hover {
  text-decoration: underline;
}

.header__btn_login {
  background: url("/img/lock.png") no-repeat center left/13px;
  padding-left: 18px;
}

.header__btn_register {
  background: url("/img/user.png") no-repeat center left/19px;
}

@media screen and (max-width: 900px) {
  .header__btn {
    font-size: 0;
    background-position: center;
    height: 40px;
    width: 40px;
  }
  .header__btn_login {
    background-size: 16px;
  }
  .header__btn_register {
    background-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 15px;
  }
  .header__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__logo {
    margin-right: 15px;
  }
  .header__toolbar {
    margin-left: auto;
    margin-right: 0;
  }
  .header__btn_register {
    display: none;
  }
  .header__search {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding-top: 15px;
  }
  .header__logo {
    font-size: 34px;
  }
}

.hero {
  margin-bottom: 30px;
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .hero {
    margin-bottom: 15px;
  }
}

.offer {
  background: #fff;
  padding: 40px 0px;
}

.offer__top {
  margin-bottom: 50px;
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.offer-button {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
  padding: 15px 38px;
  background: red;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.offer-button_green {
  background-image: -webkit-linear-gradient(0deg, #4cb8c4 0%, #3cd3ad 100%);
  background-image: -ms-linear-gradient(0deg, #4cb8c4 0%, #3cd3ad 100%);
  -webkit-box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.offer-button_purple {
  background-image: -webkit-linear-gradient(0deg, #b993d6 0%, #8ca6db 100%);
  background-image: -ms-linear-gradient(0deg, #b993d6 0%, #8ca6db 100%);
  -webkit-box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.offer-button:focus {
  outline: none;
}

.offer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.offer-card__title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.offer-card__subtitle {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #4cb8c4;
}

.offer-card_trends {
  padding: 60px 40px;
  min-height: 470px;
  background-image: url("/img/offer/block1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom -100px right -40px;
}

.offer-card_sales {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  background: url("/img/offer/block2.png") no-repeat bottom center/contain;
  background-color: #f7f7f7;
}

.offer-card_sales .offer-card__subtitle {
  color: #b893d6;
}

.offer-card-mini {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  max-height: 210px;
}

.offer-card-mini .offer-card__title {
  font-size: 18px;
}

.offer-card-mini .offer-card__subtitle {
  margin-bottom: 0;
}

.offer-card-mini_1 {
  background-image: url("/img/offer/block3.png");
  background-position: bottom -70px right -50px;
}

.offer-card-mini_2 {
  background-image: url("/img/offer/block4.png");
}

@media screen and (max-width: 768px) {
  .offer__row:nth-child(2) {
    display: none;
  }
  .offer-card-mini_1, .offer-card-mini_2 {
    display: none;
  }
  .offer-card_trends {
    max-height: 100%;
    min-height: 100%;
    padding: 30px 40px;
  }
  .offer-card_sales {
    background-size: 110%;
    text-align: center;
  }
  .offer__column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 700px) {
  .offer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__row, .offer__column {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__column {
    margin-bottom: 15px;
  }
  .offer-card_sales {
    width: 100%;
  }
  .offer-card__title {
    font-size: 22px;
  }
  .offer-card__subtitle {
    font-size: 12px;
  }
  .offer-button {
    padding: 12px 24px;
    font-size: 12px;
  }
}
