@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

input:focus {
  outline: none;
}

body {
  font-family: Roboto, sans-serif;
  background: #f7f7f7;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: none;
  }
}

.logo {
  font-size: 48px;
  color: black;
  font-family: Consolas, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.input {
  padding: 0 18px;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  color: #000;
  border: none;
  height: 48px;
  -webkit-transition: 0.14s;
  -o-transition: 0.14s;
  transition: 0.14s;
}

.input:focus {
  -webkit-box-shadow: 0px 0px 10px #e7e7e7;
          box-shadow: 0px 0px 10px #e7e7e7;
}

.input:focus::-webkit-input-placeholder {
  opacity: 0;
  visibility: hidden;
}

.input:focus:-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
}

.input:focus::-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
}

.input:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}

.input::-webkit-input-placeholder {
  color: #9e9e9e;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.input:-ms-input-placeholder {
  color: #9e9e9e;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.input::-ms-input-placeholder {
  color: #9e9e9e;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.input::placeholder {
  color: #9e9e9e;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.input-search {
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: center right 18px;
  background-size: 17px 17px;
  padding-right: 54px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  min-width: 371px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.cart__orders {
  position: absolute;
  background: #ffbb00;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  display: none;
}

.cart i {
  font-size: 26px;
  color: #4d4d4d;
  margin-right: 15px;
}

.cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-info__orders, .cart-info__cost {
  color: #cccccc;
}

.cart-info__orders span, .cart-info__cost span {
  color: #171717;
  font-weight: 500;
}

@media screen and (max-width: 1060px) {
  .cart {
    padding: 10px;
  }
  .cart i {
    margin-right: 0;
  }
  .cart-info {
    display: none;
  }
}

@media screen and (max-width: 1060px) {
  .cart__orders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.slick {
  overflow: hidden;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slider-slide {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.slider-slide:focus {
  outline: none;
}

.slider-main {
  max-width: 860px;
  overflow: hidden;
}

.slider-main .slick-list {
  margin: 0 -20px;
}

.slider-main .slider-slide {
  border-radius: 5px;
  padding: 40px;
  overflow: hidden;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 20px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.slider-main .slider-slide__block {
  margin-bottom: 45px;
}

.slider-main .slider-slide__title {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.slider-main .slider-slide__subtitle {
  font-size: 14px;
  color: #f2dd79;
  text-transform: uppercase;
  margin-bottom: 40px;
  display: inline-block;
}

.slider-main .slider-slide__description {
  color: #808080;
}

.slider-main .slider-slide_1 {
  background: url("/img/slider-main/slide1-bg.jpg") no-repeat center/cover;
}

.slider-main .slider-slide_2 {
  background: url("/img/slider-main/slide1-bg.jpg") no-repeat center/cover;
}

.slider-main .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-left: -5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-main .slick-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  cursor: pointer;
}

.slider-main .slick-dots li button {
  font-size: 0;
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  background: #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
}

.slider-main .slick-dots li.slick-active button {
  background: #525252;
}

@media screen and (max-width: 768px) {
  .slider-main .slider-slide {
    min-height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .slider-main .slider-slide {
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-main .slider-slide__block {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 425px) {
  .slider-main .slider-slide {
    min-height: 240px;
  }
  .slider-main .slider-slide__title {
    font-size: 24px;
  }
  .slider-main .slider-slide__subtitle {
    font-size: 12px;
  }
  .slider-main .slider-slide__description {
    font-size: 12px;
  }
}

.header {
  padding-top: 50px;
  margin-bottom: 50px;
}

.header__logo {
  margin-right: 50px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: 20px;
}

.header__btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 23px 10px 23px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__btn:last-child {
  margin-right: 0;
}

.header__btn:hover {
  text-decoration: underline;
}

.header__btn_login {
  background: url("/img/lock.png") no-repeat center left/13px;
  padding-left: 18px;
}

.header__btn_register {
  background: url("/img/user.png") no-repeat center left/19px;
}

@media screen and (max-width: 900px) {
  .header__btn {
    font-size: 0;
    background-position: center;
    height: 40px;
    width: 40px;
  }
  .header__btn_login {
    background-size: 16px;
  }
  .header__btn_register {
    background-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 15px;
  }
  .header__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__logo {
    margin-right: 15px;
  }
  .header__toolbar {
    margin-left: 0;
  }
  .header__search {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 100%;
  }
}
