@import "colors";

@import "fonts";

body
    overflow-x: hidden

    &.locked
        overflow: hidden

button:focus
    outline: none

.container
    max-width: 1400px
    margin: 0 auto
    padding: 0 30px

    @media screen and ( max-width: 1200px )
        max-width: 1140px
    
    @media screen and ( max-width: 992px )
        max-width: 968px

    @media screen and ( max-width: 768px )
        max-width: none
        padding: 0 15px

    @media screen and ( max-width: 576px )
        padding: 0 10px

    

.logo
    display: flex
    img
        max-width: 100%

// slider
.slider
    display: flex
    flex: 1
    flex-direction: column

    background-image: url('../img/slider-bg.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: right -150px center

    &__wrapper
        display: flex
        overflow: hidden
        flex-direction: column
        flex: 1

    &__dots
        display: flex
        flex: 0
        justify-content: center
        margin-bottom: 10px
        width: min-content

    
    &__dot
        display: flex
        padding: 10px
        cursor: pointer
        &-inner
            display: inline-block
            height: 18px
            width: 18px
            border: 1px solid #222222
            background-color: transparent
            border-radius: 50%

        &_active
            .slider__dot-inner
                background: #222222

    @media screen and ( max-width: 992px )
        background-size: auto
        background-position: top right -800px
        &__dots
            align-items: center
            justify-content: center
            width: 100%

    @media screen and ( max-width: 768px )
        backdrop-filter: blur(5px)

    @media screen and ( max-width: 576px )
        background-position: center left
        background-size: auto
    
    @media screen and ( max-width: 475px )
        &__dot
            &-inner
                height: 13px
                width: 13px




.slide
    min-height: 550px
    display: flex
    justify-content: center
    flex-direction: column

    display: none

    &_active
        display: flex

    &__text
        // smth

    &__title, &__subtitle
        color: #222222

    &__title
        font-size: 100px
        line-height: 1
        font-weight: 700
        max-width: 40%
        margin-bottom: 15px

    &__subtitle
        font-size: 50px
        font-weight: 400

    @media screen and ( max-width: 992px )
        min-height: 300px
        padding: 30px

        &__title
            font-size: 65px
        &__subtitle
            font-size: 32px


    @media screen and ( max-width: 576px )
        min-height: 100%
        height: 200px

        &__title
            font-size: 50px
            max-width: none
            margin-bottom: 5px
            text-align: center
            max-width: none

        &__subtitle
            font-size: 30px
            text-align: center

    @media screen and ( max-width: 475px )
        &__title
            font-size: 40px
        &__subtitle
            font-size: 20px



    @media (orientation: landscape) and ( max-width: 992px )
        padding: 30px

        &__title
            font-size: 60px
            margin-bottom: 5px
        &__subtitle
            font-size: 36px


// burger
.burger
    width: 42px
    border: none
    background: transparent
    display: none
    padding: 6px
    position: relative
    z-index: 3
    cursor: pointer

    &.active
        background: #f3f3f3

    &__img
        max-width: 100%

    @media screen and ( max-width: 992px )
        display: block

.button
    letter-spacing: 1px
    text-transform: uppercase
    padding: 12px 16px
    border: none
    background: none
    cursor: pointer
    font-size: 12px

    font-weight: 700

    &_black
        background: #222222
        color: #ffffff

    &_yellow
        background: #eaac00
        color: #fff
        letter-spacing: 2px
        padding: 18px 25px

// секция
.section
    margin-bottom: 100px


// overlay

.overlay
    position: fixed
    top: 0
    left: 0
    background: #00000080
    width: 100%
    height: 100%
    z-index: 0
    opacity: 0
    visibility: hidden
    transition: 0.1s ease

    &.show
        opacity: 1
        visibility: visible

