body {
    padding: 0;margin: 0;
}

button {
    font-family: inherit;
}

img {pointer-events: none;}

h1,h2,h3,h4,h5 {
    margin: 0;
}

* {box-sizing: border-box;}

ul {
    padding: 0;margin: 0;
    list-style: none;
}

a:visited, a {
    text-decoration: none;
}