.header
    padding: 44px 0px 21px 0px

    &__inner
        display: flex
        justify-content: space-between

    &__buttons
        display: flex

        @media screen and ( max-width: $md3 )
            display: none

    &__button
        margin-left: 10px
