.section
    &-gallery
        // smth


.gallery

    &__items
        // smth

    &__row
        display: flex
        justify-content: space-between
        margin: 0 -10px

    &__item
        display: flex
        margin: 0 10px

    &__img
        max-width: 100%


// общие классы
.fancybox-nav
    span
        visibility: visible