.section

    &-remont

        .section__title
            margin-bottom: 50px
            @include bold()


.remont
    &-block
        display: flex
        flex-direction: column

        &__row
            display: flex
            justify-content: space-between
            margin-bottom: 20px

    &-category
        display: flex
        flex-direction: column
        align-items: center
        text-decoration: none
        color: inherit
        padding: 30px

        &:active, &:hover
            background: #f3f3f3
            
            .remont-category__name
                text-decoration: underline


        flex: 0 1 33%

    @media screen and ( max-width: 768px )
        &-category
            flex: 1 1 33%

            &__img
                img
                    width: 100%


    @media screen and ( max-width: 576px )
        &-block
            &__row
                flex-direction: column
                margin-bottom: 0

        &-category
            &__img
                margin-bottom: 10px
            &__name, &__description
                font-size: 14px
                text-align: center