.section
    &-service
        padding-left: 15px
        padding-right: 15px
        .section__title
            text-align: left
            margin-bottom: 30px
            @include bold()

        .section__subtitle
            font-weight: 400
            font-family: 'Roboto'
            font-size: 22px
            color: #2c2c2c
            margin-bottom: 20px

        .section__paragraphs
            display: flex
            flex-direction: column

            .section__paragraph
                margin: 0 0 20px 0

                &:last-child
                    margin-bottom: 0

        .section__paragraph
            line-height: 1.9
            color: #626262
            font-weight: 100
            text-align: justify
            display: block

        .section__img
            object-fit: cover
            &_left
                margin-right: 20px

            &_right
                margin-left: 20px

            &_big
                width: 100%





        .section__text
            display: flex
            flex-direction: column
            margin-bottom: 40px

            &:last-child
                margin-bottom: 0

            .section__img
                
                &_big
                    margin-top: 20px

        .section__block
            display: flex
            justify-content: space-between

        .section-list
            list-style: disc
            margin-left: 40px
            margin-bottom: 20px
            line-height: 1.9

            &__item
                color: #626262
                font-weight: 100


        .section__bottom
            display: flex
            justify-content: flex-end

        @media screen and ( max-width: 768px )
            .section__block
                flex-direction: column
            .section__img
                &_left
                    margin-right: 0
                    margin-bottom: 10px
        
        @media screen and ( max-width: 576px )
            .section__paragraph
                font-size: 14px

        @media screen and ( max-width: 475px )
            .section__paragraph
                line-height: 2

            .section__title
                font-size: 28px

            .section__img
                display: none

                &_big
                    display: flex

            


#checkcostBtn
    border-radius: 50px