.header
    padding: 44px 0px 21px 0px
    margin-bottom: 20px

    &__inner
        display: flex
        justify-content: space-between

        @media screen and ( max-width: $md5 )
            align-items: center

        @media screen and ( max-width: $md4 )
            flex-wrap: wrap

    &__logo

        @media screen and ( max-width: $md4 )
            padding: 15px 0px

    &__buttons
        display: flex

    &__input

        @media screen and ( max-width: $md3 )
            width: 100%
            font-size: 14px


    &__button
        margin-left: 10px

        @media screen and ( max-width: $md3 )
            font-size: 14px

        @media screen and ( max-width: $md4 )
            .button__text
                display: none
            .button__icon
                margin-right: 0

    @media screen and ( max-width: $md4 )
        &__logo
            order: 1

        &__buttons
            order: 2
            align-items: center

        &__input
            order: 3

        &__button
            padding: 11px 16px

    @media screen and ( max-width: $md5 )
        padding: 10px 0px


