// Header
.header
    background: #ffffff
    position: relative
    z-index: 100
    transition: 0.2s

    &__container
        flex: 1
        display: flex
        justify-content: space-between
        align-items: center

    &__logo
        margin-right: auto
    

    &__body
        display: flex
        min-height: 82px
        transition: 0.2s
        background: #fff
        border-bottom: 2px solid #f3f3f3

        &_fixed
            position: fixed
            width: 100%
            min-height: 70px

            .burger
                align-self: normal
            
                &-button
                    padding: 0 24px

            .header-nav
                &_hidden
                    transform: translateY(0)
        
    &-contacts
        display: flex
        flex-direction: column
        align-items: flex-end
        margin-right: 40px

        &__phone
            font-size: 18px
            color: #1c1c1c
            @include semiBold()

        &__schedule, &__email
            font-size: 14px
            color: #7b7b79

        &__email
            border-bottom: 1px dashed gray
            color: #7b7b79

    &-nav
        position: absolute
        bottom: 0
        opacity: 1
        z-index: -1
        display: flex
        left: 0
        width: 100%
        background: #5986e3
        transition: transform 0.2s, opacity 0.15s
        transform: translateY(100%)
        z-index: 5

        &__wrapper
            flex: 1
            padding: 0

        &_hidden
            transform: translateY(0)
            opacity: 0
            visibility: hidden

    &-menu
        display: flex
        flex: 1
        justify-content: space-between
        padding-left: 106px
        padding-right: 15px

        &__item
            // smth

        &__link
            display: flex
            padding: 18px 25px
            text-transform: uppercase
            color: #ffffff
            font-size: 14px
            flex: 1
        

            &:active
                background: #4c77ce

            @include regular()

    @media screen and ( max-width: 992px )
        &-menu
            padding-right: 0
            flex-direction: column

        &-nav
            max-height: 100%
            display: flex
            max-height: none
    
    @media screen and ( max-width: 768px )
        min-height: 70px

        &-contacts
            display: none

        &__body
            min-height: 70px

        &__burger
            align-self: normal
            .burger-button
                padding: 0 20px

        &-menu
            padding-left: 96px
            &__link
                display: flex
                flex: 1

    @media screen and ( max-width: 576px )
        &__container
            padding-left: 0

        &__burger
            margin-right: 15px

        &__button
            padding: 12px 15px
            font-size: 12px

        &__logo
            .logo-text
                font-size: 16px
            .logo-smalltext
                font-size: 14px

        &-nav
            padding-left: 0

        &-menu

            padding-left: 0

            &__link
                justify-content: center

    @media screen and ( max-width: 500px )
        &__logo
            display: none
        &__button
            white-space: nowrap
            margin-left: 20px

    @media screen and ( max-width: 375px )
        &__logo
            display: none

    @media (orientation: landscape) and ( max-width: 992px )
        
        &-nav
            height: calc(100vh - 70px)
            overflow: auto